h5 {
  margin: 0px;
  font-size: 1.4em;
  font-weight: 700;
  align-self: center;
}
.card {
  background-color: #f2f2f2;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  margin: 10px;
}

.property-card {
  height: 18em;
  width: 14em;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
