h5 {
  margin: 0px;
  font-size: 1.4em;
  font-weight: 700;
  align-self: center;
}
.card {
  background-color: #f2f2f2;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  margin: 10px;
}

.property-card {
  height: 18em;
  width: 14em;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

/* CSS */
button {
  align-items: center;
  background-color: #0276ff;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
  height: 45px;
}

button:active {
  background-color: #006ae8;
}

button:hover {
  background-color: #1c84ff;
}
